* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	margin: 0 15px;
}

p {
	font-style: normal; 
	color: var(--text-color);
}

.logo {
	float: left;
	height: 100px;
	border-radius: 50%;
}